<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <security>
            <requestFiltering>
                <requestLimits maxAllowedContentLength="4200000000" maxUrl="8096" maxQueryString="4048" />
            </requestFiltering>
        </security>
		    
		<rewrite>
            <rules>
				<rule name="rule 5R" enabled="true" stopProcessing="true">
					<match url="^upload/(.*?)$" />
					<action type="Rewrite" url="http://localhost:8001/receive/test/{R:1}" logRewrittenUrl="true" />
				</rule>
            </rules>
        </rewrite>
        <defaultDocument>
            <files>
                <clear />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
                <add value="index.php" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
